# Evo-Bayes-Agent

In [81]:
from Ionomy import IonPanda, BitTA
from ai import Agent, Bayes, model, Deep_Evolution_Strategy
from decouple import config

MARKET = 'btc-hive'
CURRENCY = 'hive'
BASE = 'btc'
TIME = 'hour'

bta = BitTA(config('TREX_KEY'), config('TREX_SECRET'))
ionpd = IonPanda(config('IONOMY_KEY'), config('IONOMY_SECRET'))
bta.update(CURRENCY, BASE, TIME)

df = bta.df

In [73]:
START_SATS = 10_000_000
MAX_BUY = 1000
MAX_SELL = 1000

In [74]:
df

,time,close,high,low,open,volumehive,volume,date
0,1582707600,0.000000,0.000000,0.000000,0.000000,0.00,0.0000,2020-02-26
1,1582711200,0.000000,0.000000,0.000000,0.000000,0.00,0.0000,2020-02-26
2,1582714800,0.000000,0.000000,0.000000,0.000000,0.00,0.0000,2020-02-26
3,1582718400,0.000000,0.000000,0.000000,0.000000,0.00,0.0000,2020-02-26
4,1582722000,0.000000,0.000000,0.000000,0.000000,0.00,0.0000,2020-02-26
...,...,...,...,...,...,...,...,...
1996,1589893200,0.000033,0.000033,0.000032,0.000033,12896.79,0.4236,2020-05-19
1997,1589896800,0.000033,0.000033,0.000033,0.000033,6472.08,0.2129,2020-05-19
1998,1589900400,0.000033,0.000033,0.000033,0.000033,30499.64,1.0020,2020-05-19
1999,1589904000,0.000033,0.000033,0.000032,0.000033,19730.07,0.6457,2020-05-19
2000,1589907600,0.000033,0.000033,0.000032,0.000033,33513.99,1.0920,2020-05-19

In [75]:
df = df[df["close"] != 0]

In [76]:
df.loc[:, "close"] = df.loc[:, "close"]*(10**8)