In [1]:
from Ionomy import IonPanda
from decouple import config
import pandas as pd

# view markets_pd for more market choices
HIVE_MARKET = 'btc-hive'

# view currencies_pd for more market choices
CURRENCY = 'hive'

# I
ionpd = IonPanda(config('IONOMY_KEY'), config('IONOMY_SECRET'))

In [2]:
market_names = ionpd.market_names
markets_pd = ionpd.markets()
currencies_pd = ionpd.currencies()
order_book_pd = ionpd.order_book(HIVE_MARKET)
market_summaries_pd = ionpd.market_summaries()
hive_market_summary = ionpd.market_summary(HIVE_MARKET)
hive_market_history_pd = ionpd.market_history(HIVE_MARKET)
open_orders_pd = ionpd.open_orders(HIVE_MARKET)
balances_pd = ionpd.balances()
hive_balance = ionpd.balance(CURRENCY)
deposit_address = ionpd.deposit_address(CURRENCY)
deposit_history_pd = ionpd.deposit_history(CURRENCY)
withdrawal_history_pd = ionpd.withdrawal_history(CURRENCY)
current_price = ionpd.get_spot_price()
min_ask = ionpd.min_ask(HIVE_MARKET)
max_bid = ionpd.max_bid(HIVE_MARKET)

In [5]:
min_ask, max_bid = ionpd.min_ask(HIVE_MARKET), ionpd.max_bid(HIVE_MARKET)
min_ask, max_bid

(4.4e-05, 4.104e-05)

In [6]:
spread = min_ask - max_bid
spread

2.9599999999999988e-06

In [25]:
rev = spread*1000
rev

0.0065699999999999995

In [26]:
avg_price = (min_ask + max_bid)/2
avg_price

3.9315e-05

In [27]:
rev/avg_price

167.1117893933613

In [7]:
balances_pd

           currency  available  reserved
0               btc   0.000000  0.120747
1               ion   0.000000  0.000000
2             steem   0.000000  0.000000
3              hive   0.548145  0.000000
4      gravity-live   0.000000  0.000000
5  gravity-electron   0.000000  0.000000
6      tmob-diamond   0.000000  0.000000
7         heat-coin   0.000000  0.000000
8        heat-nitro   0.000000  0.000000