In [5]:
from Ionomy import IonPanda
from decouple import config
import pandas as pd
import pandas_ta as ta

# view markets_pd for more market choices
HIVE_MARKET = 'btc-hive'

# view currencies_pd for more market choices
CURRENCY = 'hive'

# I
ionpd = IonPanda(config('IONOMY_KEY'), config('IONOMY_SECRET'))

In [2]:
market_names = ionpd.market_names
markets_pd = ionpd.markets()
currencies_pd = ionpd.currencies()
order_book_pd = ionpd.order_book(HIVE_MARKET)
market_summaries_pd = ionpd.market_summaries()
hive_market_summary = ionpd.market_summary(HIVE_MARKET)
hive_market_history_pd = ionpd.market_history(HIVE_MARKET)
open_orders_pd = ionpd.open_orders(HIVE_MARKET)
balances_pd = ionpd.balances()
hive_balance = ionpd.balance(CURRENCY)
deposit_address = ionpd.deposit_address(CURRENCY)
deposit_history_pd = ionpd.deposit_history(CURRENCY)
withdrawal_history_pd = ionpd.withdrawal_history(CURRENCY)
current_price = ionpd.get_spot_price()
min_ask = ionpd.min_ask(HIVE_MARKET)
max_bid = ionpd.max_bid(HIVE_MARKET)

In [5]:
min_ask, max_bid = ionpd.min_ask(HIVE_MARKET), ionpd.max_bid(HIVE_MARKET)
min_ask, max_bid

(4.4e-05, 4.104e-05)

In [6]:
spread = min_ask - max_bid
spread

2.9599999999999988e-06

In [25]:
rev = spread*1000
rev

0.0065699999999999995

In [26]:
avg_price = (min_ask + max_bid)/2
avg_price

3.9315e-05

In [27]:
rev/avg_price

167.1117893933613

In [2]:
df = ionpd.cc_ohlcv()

In [4]:
df.dtypes

time                  int64
high                float64
low                 float64
open                float64
volumefrom          float64
volumeto            float64
close               float64
conversionType       object
conversionSymbol     object
dtype: object

In [11]:
rsi = df.ta.rsi()

In [12]:
macd = df.ta.macd()

    MACD_12_26_9  MACDH_12_26_9  MACDS_12_26_9
0            NaN            NaN            NaN
1            NaN            NaN            NaN
2            NaN            NaN            NaN
3            NaN            NaN            NaN
4            NaN            NaN            NaN
5            NaN            NaN            NaN
6            NaN            NaN            NaN
7            NaN            NaN            NaN
8            NaN            NaN            NaN
9            NaN            NaN            NaN
10           NaN            NaN            NaN
11           NaN            NaN            NaN
12           NaN            NaN            NaN
13           NaN            NaN            NaN
14           NaN            NaN            NaN
15           NaN            NaN            NaN
16           NaN            NaN            NaN
17           NaN            NaN            NaN
18           NaN            NaN            NaN
19           NaN            NaN            NaN
20           NaN            NaN            NaN
21           NaN            NaN            NaN
22           NaN            NaN            NaN
23           NaN            NaN            NaN
24           NaN            NaN            NaN
25      0.000018            NaN            NaN
26      0.000016      -0.000002       0.000018
27      0.000014      -0.000003       0.000017
28      0.000013      -0.000003       0.000016
29      0.000012      -0.000003       0.000016
30      0.000012      -0.000003       0.000015