In [1]:
from Ionomy import IonPanda
from decouple import config
import pandas as pd

HIVE_MARKET = 'btc-hive'
CURRENCY = 'hive'

ionpd = IonPanda(config('IONOMY_KEY'), config('IONOMY_SECRET'))

In [61]:
market_names = ionpd.market_names
markets_pd = ionpd.markets()
currencies_pd = ionpd.currencies()
order_book_pd = ionpd.order_book(HIVE_MARKET)
market_summaries_pd = ionpd.market_summaries()
hive_market_summary = ionpd.market_summary(HIVE_MARKET)
hive_market_history_pd = ionpd.market_history(HIVE_MARKET)
open_orders_pd = ionpd.open_orders(HIVE_MARKET)
balances_pd = ionpd.balances()
hive_balance = ionpd.balance(CURRENCY)
deposit_address = ionpd.deposit_address(CURRENCY)
deposit_history_pd = ionpd.deposit_history(CURRENCY)
withdrawal_history_pd = ionpd.withdrawal_history(CURRENCY)
current_price = ionpd.get_spot_price()

In [23]:
min_ask, max_bid = ionpd.min_ask(HIVE_MARKET), ionpd.max_bid(HIVE_MARKET)
min_ask, max_bid

(4.26e-05, 3.603e-05)

In [24]:
spread = min_ask - max_bid
spread

6.57e-06

In [25]:
rev = spread*1000
rev

0.0065699999999999995

In [26]:
avg_price = (min_ask + max_bid)/2
avg_price

3.9315e-05

In [27]:
rev/avg_price

167.1117893933613

In [64]:
withdrawal_history_pd

,transactionId,state,currency,amount,feeAmount,createdAt
0,5e8f726da2a3e220e6566b72,PROCESSED,hive,7186.01000000,0.01000000,2020-04-09T19:07:25Z
1,5e8f9934a2a3e24bda6b9962,PROCESSED,hive,579.56390315,0.01000000,2020-04-09T21:52:52Z
2,5e9a6fe4a2a3e2016530b782,PROCESSED,hive,6194.01000000,0.01000000,2020-04-18T03:11:32Z
3,5ea24752a2a3e2245f19e352,PROCESSED,hive,4308.01000000,0.01000000,2020-04-24T01:56:34Z
4,5eacd1792249e5764b7323d2,PROCESSED,hive,124.05000000,0.05000000,2020-05-02T01:48:41Z