# Evo-Bayes-Agent

In [1]:
from Ionomy import IonPanda, BitTA
from ai import Agent, Bayes, Deep_Evolution_Strategy
from decouple import config

MARKET = 'usd-btc'
CURRENCY = 'btc'
BASE = 'usd'
TIME = 'hour'

bta = BitTA(config('TREX_KEY'), config('TREX_SECRET'))
ionpd = IonPanda(config('IONOMY_KEY'), config('IONOMY_SECRET'))
bta.update(CURRENCY, BASE, TIME)

In [2]:
df = bta.df
df = df[df["close"] != 0]
df.loc[:, "close"] = df.loc[:, "close"]*(0.01)

In [7]:
df

,time,close,high,low,open,volumebtc,volume,date
0,1582966800,87.0137,8767.81,8692.49,8756.75,3.192,27834.98,2020-02-29
1,1582970400,86.4853,8737.25,8634.83,8701.37,22.930,199260.90,2020-02-29
2,1582974000,87.1076,8720.46,8622.70,8648.53,5.972,51800.64,2020-02-29
3,1582977600,86.7528,8711.67,8666.12,8710.76,6.396,55503.48,2020-02-29
4,1582981200,86.4538,8677.08,8621.00,8675.28,9.789,84621.41,2020-02-29
...,...,...,...,...,...,...,...,...
1996,1590152400,91.1384,9176.48,9082.05,9173.61,27.210,248200.24,2020-05-22
1997,1590156000,91.3133,9170.00,9113.81,9113.84,33.750,309163.31,2020-05-22
1998,1590159600,92.1936,9219.63,9131.33,9131.33,46.220,424582.82,2020-05-22
1999,1590163200,92.5144,9251.44,9190.31,9219.36,23.020,212193.13,2020-05-22
2000,1590166800,92.0347,9277.00,9194.83,9251.44,26.440,244296.99,2020-05-22

In [9]:
import pandas_ta as ta
df.ta.ema(length=9)

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
1996    91.166562
1997    91.195909
1998    91.395447
1999    91.619238
2000    91.702330
Name: EMA_9, Length: 2001, dtype: float64

In [4]:
START_USD = 5_000
MAX_BUY = 10
MAX_SELL = 10

In [5]:
bayes = Bayes(close, MAX_BUY, MAX_SELL, START_USD, MARKET)

In [ ]:
bayes.bayes_maximize()

|   iter    |  target   | learni... | popula... |   sigma   | size_n... | window... |
-------------------------------------------------------------------------------------
time taken to train: 29.705759048461914 seconds
time taken to train: 25.50796341896057 seconds

In [ ]:
buys_df, sells_df, actions = bayes.run()

In [ ]:
buys_df.tail()

In [ ]:
sells_df.tail()

In [ ]:
sells_df["roi"].max()

In [ ]:
bayes.plot()